<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Scripts.Render("~/bundles/modernizr")


    <script src="~/Scripts/UnderscoreJS/underscore.js"></script>
    <script src="~/Scripts/BigJS/big.js"></script>
    <script src="~/Scripts/NgDialog/ngDialog.js"></script>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/script Angular/Core.js"></script>


    <link href="~/Content/NgDialog/ngDialog-theme-default.css" />
    <link href="~/Content/Main.css" />

</head>
<body ng-app="LePoulailler" ng-controller="coreController">
  todo menu


    <div>


        <input type="text" ng-model="ingredient.Nom"/>

        <input type="text" ng-model="ingredient['Nom']"/>

        <input type="number" ng-model="ingredient.Prix"/>

        <input type="checkbox" ng-model="ingredient.HaveLactose"/>


        <pre>{{ingredient | json}}</pre>
    </div>






        @RenderBody()
       
    todo footer
</body>
</html>
