<div class="Sandwich Grid" ng-controller="grid.sandwichController">
    <h3>Sandwich Grid</h3>

    <ul>
        <li ng-repeat="sandwich in data.SandwichsList">

            <pre>{{sandwich|json}}</pre>

        </li>
    </ul>


</div>